.hero-title{
    font-size: 64px;
    color: #111;
    font-weight: 700;
}

.hero-box{
    padding-top: 80px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    color: #111;
}
.img-fluid{
    width: 100%;
    max-width: 80%;
}

.second-title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #111;
}
.car{
    max-width: 300px;
}
.third-title{
    font-size: 32px;
    color: #111;
    font-weight: 700;
}
.test-drive-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h5{
color: black;
}
