.hero-title{
    font-size: 64px;
    color: #111;
    font-weight: 700;
}

.hero-text{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 400;
    color: #111;
}
.img-fluid{
    width: 100%;
    max-width: 80%;
}

.second-title{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #111;
}

.third-title{
    font-size: 32px;
    color: #111;
    font-weight: 700;
}
.h5{
color: black;
}
